<!-- templates/password_reset_form.html -->
{% extends "base_generic.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Reset Password</h2>
    <p class="text-center">Please enter your email address to receive a password reset link.</p>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">Send Password Reset Email</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
